RewriteEngine On

## QSA - Query String Append - Add GET params
## L   - Last (~ continue)
## END - (~ break)
## NC  - NoCase, case insensitive

RewriteRule  ^home$        home.php   [L,NC,QSA]  
RewriteRule  ^about$       about.php    [L,NC,QSA]  
RewriteRule  ^privacy$     privacy.php    [L,NC,QSA]  
RewriteRule  ^api/?(.*)$   api_router.php?dtl=$1  [END,NC,QSA]
RewriteRule  ^gallery$     gallery.php            [END,NC,QSA]
